<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DES Dashboard xxxz</title>

<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--            crossorigin="anonymous"></script>-->
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>

        $(function(){
            $("#project_name").change(function(){
                var project_name=$(this).val();
                var url = $("#project_name").attr("data-url");
                        $.ajax({
                            url: url,
                            data: {
                                project_name: project_name
                                   },
                            success: function (data){
                                console.log(data.name);
                                $.each(data.name, function(key, value) {
                                     $('#builds').append($("<option></option>")
                                        .attr("value", key)
                                        .text(value));
                                        console.log(value);
                                                        });
                                                                        }
                               });

            });

        });

    </script>
    <script>

    </script>
<!--<script>-->
<!--$(function(){-->
<!--    $("#load_data").click(function(){-->
<!--       var data_table=$("#example");-->
<!--       var project_name=$("#project_name").val();-->
<!--       var build_name=$("#builds").val();-->
<!--       //alert(build_name );-->
<!--       var url = $("#builds").attr("data-url");-->
<!--                 $.ajax({-->
<!--                            url: url,-->
<!--                            data: {-->
<!--                                project_name: project_name,-->
<!--                                build_name: build_name-->
<!--                                   },-->
<!--                            success: function (data){-->
<!--                            $('#example').DataTable( {-->
<!--                                        data: data-->
<!--                                    } );-->
<!--                               console.log(data.name);-->
<!--                               // var table_body;-->
<!--                                $.each(data.name, function(key, value) {-->
<!--                                //table_body=table_body+"<tr><td>" + value[0] + "</td><td>" +value[1] + "</td><td>"+ value[1]+ "</td><td>"+ value[2]+ "</td><td>"+value[3] + "</td><td>"+value[4] + "</td><td>"+value[5] + "</td></td>"+value[6] + "</td></tr>"-->
<!--                                //table_data=table_data+table_body;-->
<!--                                //data_table.append("<tr><td>" + value[0] + "</td><td>" +value[1] + "</td><td>"+ value[1]+ "</td><td>"+ value[2]+ "</td><td>"+value[3] + "</td><td>"+value[4] + "</td><td>"+value[5] + "</td></td>"+value[6] + "</td></tr>");-->

<!--                                //console.log(value[]);-->
<!--                                   });    // data_table.append(table_body);-->
<!--                                       }-->
<!--                                             });-->
<!--    });-->
<!--});-->
<!--</script>-->
    <script>

$(document).ready(function(){

 $(".h_con").hide();

  $(".base_hcon").click(function(){
   var id=$(this).attr("id");
    console.log("#"+id+"_hidden");
    $("#"+id+"_hidden").fadeToggle();
  });
});

</script>


    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );

    </script>
    <br>
</head>
<body>
<div class="container" style="background: green;" >
    <form action="{% url 'index' %}" method = "POST">{% csrf_token %}
    <span class="badge badge-pill badge-primary">BR Name</span>
    <select class="selectpicker" name="project_name" id="project_name" data-url="{% url 'index'%}">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <span class="badge badge-pill badge-primary" data-url="{% url 'index'%}">Build Name</span>
    <select id="builds" name="build_name">
        <option>1</option>
    </select>
 <span class="badge badge-pill badge-primary">
     <button class="btn btn-primary" type="submit" id="load_data">Load </button>
 </span>
</form>
</div>

<br>
<br>
<div class="container mb-3 mt-3">
   <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>TC #</th>
                <th>TC Name</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for rowval in data %}
             <tr>
             {% for val in rowval %}
              <td>{{val}}</td>
             {% endfor %}
            </tr>
          {% endfor %}
            <tr>
                <td>AAAAAAAAA</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                <td ><div id="100" class="base_hcon" >++</div>
                   <table >
                    <div  class="h_con" id="100_hidden" >
                        <div>
                            <form>
                          <label for="fname">Analysis Result:</label><br>
                          <input type="text" id="fname" name="fname"><br>
                          <label for="lname">Type:</label><br>
                                <select name="cars" id="cars">
                                  <option value="volvo">Automation Script</option>
                                  <option value="saab">Env</option>
                                  <option value="mercedes">Code</option>
                                  <option value="audi">Bug</option>
                                </select>
                                <label for="lname">Comment:</label><br>
                                <input type="text" id="lname" name="lname">
                                <br>
                                <br>
                                <button type="button" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    </div>
                     </table>
                </td>
            </tr>
        </tbody>
   </table>
</div>
</div>
</body>
<footer>
    <div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-text pull-left">
        </div>
        <div class="navbar-text pull-right">
              &copy;Credits
        </div>
        <!--Below is the copyright information for the site. You can fill in your own here.-->
        <div class="navbar-text pull-left">
            &copy;Foter xxxxuuuuu
        </div>
    </div>
</footer>

</html>
